.character-control-display {
    display: flex;
    position: relative;
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .character-control-stat-icon {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    justify-content: center;
    height: 3.375rem;
    text-align: center;
    font-family: MedievalSharp;
    font-size: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1rem;
  }