/*
  This will go on its own
*/

.initiative-pic {
  height: 4.0rem;
}

.initiatives-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.initiative-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 1.5rem;
  /* width:20%; */
}

.progress-bar-border {
  flex: 1;
  border: 1px solid #ccc!important;
}
.progress-bar {
  flex: 1;
  color: #fff!important;
  background-color: green!important;
}

.hp-column{
  flex: 1;
  width: 100%;
  justify-content: center;

}



/*
  --------------------------------------------
*/





@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

html, body, .root, .App {
  background: url("https://media-waterdeep.cursecdn.com/attachments/1/614/builder1k.jpg") fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-width: 50px) and (max-width:1024px ) {
  .navigation-button {
    font-size: 7px;
  }

  .app-logo {
    width: 200px;
  }
}

.centered {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

div.card-body.mx-4 > div {
  color: #EC2127
}

.select-label {
  color:#757575;
  padding-top: inherit;
  padding-bottom: inherit/2;
}

.select {
  padding-bottom: inherit;
}

#checkbox {
  color:#757575;
  height:1.5rem;
  padding-right: 40%
}

.form-check-input {
  position: absolute;
  margin-top: 0rem !important;
  margin-left: -1.25rem;
}

.form-check {
  position: relative;
  display: block;
  margin-top: 0rem;
  padding-top: inherit;
  padding-left: 0rem !important;
}




.my-facebook-button-class {
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(-0.65565vw + 13.38843px) calc(.34435vw + 18.38843px);
}

.characters-Container {
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: flex-start;
}

.my-characters {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .individual-character {
      padding: 10px 15px;
      text-align: left;
  }

.character-pic {
  width:150px;
  height: 150px;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-name {
  font-family: MedievalSharp;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.character-stats {
  font-family: MedievalSharp;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

.characters-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flash-message {
  text-align: center;
  color: black !important;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.character-specs-inner {
  display: flex;
  flex-direction: column;
}

.page-heading {
  border-bottom: 3px solid red;
  padding-bottom: 8px;
  padding-top: 16px;
  margin-left:10%;
  margin-right:10%;
}
