.initiative-roll-display {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  justify-content: center;
  height: 3.375rem;
  text-align: center;
  font-family: MedievalSharp;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1rem;
}

/* General Forms CSS is here */

.select-label {
  color:#757575;
  padding-top: inherit;
  padding-bottom: inherit/2;
}

.select {
  padding-bottom: inherit;
}

#checkbox {
  color:#757575;
  height:1.5rem;
  padding-right: 40%
}

.form-check-input {
  position: absolute;
  margin-top: 0rem !important;
  margin-left: -1.25rem;
}

.form-check {
  position: relative;
  display: block;
  margin-top: 0rem;
  padding-top: inherit;
  padding-left: 0rem !important;
}

/* General App CSS*/

.flash-message {
  text-align: center;
  color: black !important;
}

.secondary-nav {
  z-index: 1020;
  position: fixed;
  padding-top: 1rem;
  top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #493E3A;
}

.page-with-secondary-nav {
  margin-top: 7.625rem;
}

.page-heading {
  border-bottom: 3px solid darkred;
  margin-left:10%;
  margin-right:10%;
}

.page-title {
  display: flex;
  justify-content: center;
}

.login-signup {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.my-facebook-button-class {
  font-family: Helvetica,sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s,border-color .3s;
  background-color: #4c69ba;
  border: calc(.06887vw + .67769px) solid #4c69ba;
  padding: calc(-0.65565vw + 13.38843px) calc(.34435vw + 18.38843px);
}

@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

html, body, .root, .App {
  background: url("https://media-waterdeep.cursecdn.com/attachments/1/614/builder1k.jpg") fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 1rem;
}

@media (min-width: 50px) and (max-width:1024px ) {
  .shrink-button {
    font-size: 0.55rem!important;
  }
  .secondary-nav-button {
    font-size: 0.55rem;
  }

  .app-logo {
    width: 200px;
  }
}
